body {
    background: url(/starter-code/assets/crew/background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/**HEADER */
header {
    display: flex;
    align-items: center;
    margin: 40px 0 0 55px;
}

.line-with-nav {
    display: flex;
    align-items: center;
}

.line {
    width: 473px;
    height: 1px;
    opacity: 0.2515;
    background: #FFF;
    margin:0 -30px 0 64px;
    z-index: 2;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 830px;
    height: 96px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
}

.main-nav ul {
    list-style: none;
    display: flex;
}

.main-nav li {
    color: #FFF;
    font-family: "Barlow Condensed";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
    margin-right: 50px;
}

.main-nav a {
    position: relative;
}

.main-nav a:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    top: 54px;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

nav a:hover:before,
nav a:focus:before {
    visibility: visible;
    transform: scaleX(1);
}

/**MAIN */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 62px 137px 94px 165px;
}

/**left-side */
.left-side h2 {
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
    text-transform: uppercase;
    margin-bottom: 154px;
    margin-top: 14px;
}

.left-side h3 {
    color: #FFF;
    font-family: Bellefair;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    opacity: 0.5042;
    margin-bottom: 15px;
}

.left-side h1 {
    color: #FFF;
    font-family: Bellefair;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 27px;
}

.left-side p {
    width: 444px;
    color: #D0D6F9;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 177.778%;
    margin-bottom: 120px;
}

.left-side span {
    width: 132px;
    height: 15px;
    flex-shrink: 0;

}

.employees {
    cursor: pointer;
}

/**right-side*/

.right-side img {
    width: 568.072px;
    height: 712px;
}
