body {
    background: url(/starter-code/assets/crew/background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/**HEADER */
header {
    display: flex;
    align-items: center;
    margin: 2.5em 0 0 3.4375em;
}

.line-with-nav {
    display: flex;
    align-items: center;
}

.line {
    width: 29.5625em;
    height: 1px;
    opacity: 0.2515;
    background: #FFF;
    margin:0 -1.875em 0 4em;
    z-index: 2;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 51.875em;
    height: 6em;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
}

.main-nav ul {
    display: flex;
}

.main-nav li {
    color: #FFF;
    font-family: "Barlow Condensed";
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16875em;
    margin-right: 3.125em;
}

.main-nav a {
    position: relative;
}

.main-nav a:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    top: 54px;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

nav a:hover:before,
nav a:focus:before {
    visibility: visible;
    transform: scaleX(1);
}

/**MAIN */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3.875em 8.5625em 5.875em 10.3125em;
}

/**left-side */
.left-side h2 {
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
    text-transform: uppercase;
    margin-bottom: 5.5em;
    margin-top: 0.5em;
}

.left-side h3 {
    color: #FFF;
    font-family: Bellefair;
    font-size: 2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    opacity: 0.5042;
    margin-bottom: 0.9375em;
}

.left-side h1 {
    color: #FFF;
    font-family: Bellefair;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 0.48214285714285715em;
}

.left-side p {
    width: 24.666666666666668em;
    color: #D0D6F9;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 177.778%;
    margin-bottom: 6.666666666666667em;
}

.left-side span {
    width: 8.25em;
    height: 0.9375em;
}

.employees {
    cursor: pointer;
}

/**right-side*/

.right-side img {
    width: 35.5045em;
    height: 44.5em;
}
