body {
    background: url(/starter-code/assets/destination/background-destination-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/**HEADER */
header {
    display: flex;
    align-items: center;
    margin: 40px 0 0 55px;
}

.line-with-nav {
    display: flex;
    align-items: center;
}

.line {
    width: 473px;
    height: 1px;
    opacity: 0.2515;
    background: #FFF;
    margin:0 -26.25px 0 56px;
    z-index: 2;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 830px;
    height: 96px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774px);
}

.main-nav ul {
    display: flex;
}

.main-nav li {
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
    margin-right: 50px;
}

.main-nav a {
    position: relative;
}

.main-nav a:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    top: 54px;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

nav a:hover:before,
nav a:focus:before {
    visibility: visible;
    transform: scaleX(1);
}

/**MAIN */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 76px 163px 118px 166.5px;
}

/**left-side */
.left-side h2 {
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
    text-transform: uppercase;
    margin-bottom: 97px;
}

.left-side span {
    font-weight: 600;
}

.left-side img {
    margin-left: 64.5px;
    width: 450px;
    height: 450px;
}

/**right-side */
.right-side {
    width: 445px;
    height: 472px;
    margin-top: 98px;
}

.secondary-nav ul {
    display: flex;
    gap: 36px;
    padding: 0;
    margin-bottom: 52px;
}

.secondary-nav ul li {
    color: #D0D6F9;
    font-family: Barlow Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

.secondary-nav a {
    position: relative;
}

.secondary-nav a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 28px;
    background: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.right-side h1 {
    color: #FFF;
    font-family: Bellefair;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.right-side p {
    color: #D0D6F9;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 177.778%;
}

.line-between-text {
    width: 444px;
    height: 1px;
    background: #383B4B;
    margin:54px 0 28px 0;
}


/**metrics */
.metrics {
    display: flex;
    gap: 79px;
}

.metrics h3 {
    color: #D0D6F9;
    font-family: Barlow Condensed;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.362px;
    text-transform: uppercase;
}

.metrics p {
    color: #FFF;
    font-family: Bellefair;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 12px;
}

@media only screen and (max-width: 476px) {
    body {
        background: url(/starter-code/assets/destination/background-destination-mobile-bigger.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;     
        /*overflow-x: hidden;*/
    }

    /**HEADER */
    header  {
        margin: 0;
        padding: 24px 24px 48px 24px;
        align-items: baseline;
        justify-content: space-between;
    }

    header img {
        width: 40px;
        height: 40px;
    }

    .line-with-nav {
        position: absolute;
        top: 0;
        right: 0;
        visibility: hidden;
    }

    .active-menu {
        display: block;
    }

    .line{
        display: none;
    }

    .main-nav {
        display: flex;
        flex-direction: column;
        letter-spacing: 2.7px;
        gap: 32px;
        padding: 0;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 254px;
        height: 667px;
        z-index: 100;
    }

    /**menu-btns */
    .menu-btn{
    cursor: pointer;
    width: 35px;
    height: 35px;
    z-index: 101;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }

    .change .bar2 {opacity: 0;}

    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }

    .line-with-nav.is-active {
        visibility: visible;
    }

    /** MAIN */

    main {
        margin: 0;
    }

    .left-side {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

    .left-side h2 {
        font-size: 16px;
    }

    .left-side  img {
        width: 170px;
        height: 170px;
        margin: 0;
    }

    .right-side {
        width: 327px;
        height: auto;
        margin: 26px auto;
        text-align: center;
    }

    .secondary-nav {
        margin: 0 auto;
    }

    .right-side h1 {
        font-size: 56px;
    }

    .right-side p {
        font-size: 15px;
    }

    .secondary-nav ul {
        font-size: 14px;
        justify-content: center;
        margin: 0 auto 52px auto;
        gap: 26px;
        width: 237.5px;
    }

    .line-between-text {
        width: 327px;
    }

    .metrics {
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 32px;
        gap: 32px;
    }

    .metrics p {
        font-size: 28px;
    }
}