body {
    background: url(/starter-code/assets/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
/**HEADER */
header {
    display: flex;
    align-items: center;
    
    padding-left: 3.4375rem;
    margin-top: 2.5rem;
}

.line-with-nav {
    display: flex;
    align-items: center;
}

.line {
    width: 29.5625rem;
    height: .0625rem;
    opacity: 0.2515;
    background: #FFF;
    margin:0 -1.875rem 0 4rem;
    z-index: 2;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 51.875rem;
    height: 6rem;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(2.548389rem);
}

.main-nav {
    display: flex;
}

.main-nav li {
    color: #FFF;
    font-family: "Barlow Condensed";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: .16875rem;
    margin-right: 3.125rem;
    position: relative;
}

nav a:before{
    content: "";
    position: absolute;
    width: 100%;
    height: .1875rem;
    background: #fff;
    top: 3.375rem;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

nav a:hover:before,
nav a:focus:before {
    visibility: visible;
    transform: scaleX(1);
}

.menu-icon,
.close-menu-icon {
    display: none;
}

/**MAIN*/
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 15.6875rem 10.3125rem 8.1875rem 10.3125rem;
}

.main-text {
    color: #D0D6F9;
    width: 27.8125rem;
}

.main-text h1 {
    font-family: 'Bellefair', serif;
    font-weight: 400;
    font-size: 9.375rem;
    text-transform: uppercase;
}

.main-text h2 {
    color: #D0D6F9;
    font-family: "Barlow Condensed";
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: .295312rem;
}

.main-text p {
    color: #D0D6F9;
    font-family: "Barlow";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 177.778%;
}

.circle {
    font-family: 'Bellefair', serif;
    background: #fff;
    font-size: 2rem;
    width: 17.125rem;
    height: 17.125rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 6.75rem;
}

.circle:hover,
.circle:focus {
    border-radius: 28.125rem;
    opacity: 0.1036;
    background: #FFF;
}

.circle a {
    color: #0B0D17;
}




@media only screen and (max-width: 376px) {

    body {
        background: url(/starter-code/assets/home/background-home-mobile.jpg) no-repeat;
        position: relative;
    }
    /**HEADER */
    header  {
        margin: 0;
        padding: 24px 24px 48px 24px;
        align-items: baseline;
        justify-content: space-between;
    }
    /**HEADER */
    header img {
        width: 40px;
        height: 40px;
    }

    .line-with-nav {
        position: absolute;
        top: 0;
        right: 0;
        visibility: hidden;
    }

    .active-menu {
        display: block;
    }

    .line{
        display: none;
    }

    nav {
        width: 254px;
        height: 667px;
        flex-shrink: 0;
    }
    
    .main-nav {
        flex-direction: column;
        letter-spacing: 2.7px;
        gap: 32px;
        padding: 0;
        position: absolute;
        top: 118px;
    }
    /**menu-btns */
    .menu-btn{
    cursor: pointer;
    width: 2.1875em;
    height: 2.1875em;
    z-index: 101;
}
    
    .bar1, .bar2, .bar3 {
        width: 2.1875em;
        height: 0.3125em;
        background-color: #fff;
        margin: 0.375em 0;
        transition: 0.4s;
    }

    .change .bar1 {
        transform: translate(0, 0.6875em) rotate(-45deg);
    }
    
    .change .bar2 {opacity: 0;}
    
    .change .bar3 {
        transform: translate(0, -0.6875em) rotate(45deg);
    }

    .line-with-nav.is-active {
        visibility: visible;
    }

    /**MAIN */
    main {
        width: 327px;
        height: 507px;
        margin: 0 auto;
        justify-content: center;
    }

    .main-text h2 {
        font-size: 1rem;
        letter-spacing: 0.16875rem;
        justify-content: center;
    }

    .main-text {
        text-align: center;
    }

    .main-text h1 {
        font-size: 5rem;
        line-height: 125%;
    }

    .main-text p {
        font-size: 0.9375rem;
        line-height: 166.667%;
    }

    .circle {
        width: 150px;
        height: 150px;
        margin-top: 81px;
        font-size: 1.25rem;
        letter-spacing: 0.07813rem;
    }
  }