body {
    background: url(/starter-code/assets/destination/background-destination-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/**HEADER */
header {
    display: flex;
    align-items: center;
    margin: 40px 0 0 55px;
}

.line-with-nav {
    display: flex;
    align-items: center;
}

.line {
    width: 473px;
    height: 1px;
    opacity: 0.2515;
    background: #FFF;
    margin:0 -30px 0 64px;
    z-index: 2;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 830px;
    height: 96px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
}

.main-nav ul {
    list-style: none;
    display: flex;
}

.main-nav li {
    color: #FFF;
    font-family: "Barlow Condensed";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
    margin-right: 50px;
    position: relative;
}

.main-nav a:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    top: 54px;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

nav a:hover:before,
nav a:focus:before {
    visibility: visible;
    transform: scaleX(1);
}

/**MAIN */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 76px 163px 118px 166.5px;
}

/**left-side */
.left-side h2 {
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
    text-transform: uppercase;
    margin-bottom: 97px;
}

.left-side span {
    font-weight: 600;
}

#moon {
    margin-left: 64.5px;
}

/**right-side */
.right-side {
    width: 445px;
    height: 472px;
    margin-top: 98px;
}

.secondary-nav ul {
    display: flex;
    list-style: none;
    gap: 36px;
    padding: 0;
    margin-bottom: 52px;
}

.secondary-nav ul li {
    color: #D0D6F9;
    font-family: Barlow Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

.right-side h1 {
    color: #FFF;
    font-family: Bellefair;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.right-side p {
    color: #D0D6F9;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 177.778%;
}

.line-between-text {
    width: 444px;
    height: 1px;
    background: #383B4B;
    margin: 54px 0 28px 0;
}


/**metrics */
.metrics {
    display: flex;
    gap: 79px;
}

.metrics h3 {
    color: #D0D6F9;
    font-family: Barlow Condensed;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.362px;
    text-transform: uppercase;
}

.metrics p {
    color: #FFF;
    font-family: Bellefair;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}